<ion-view style="" title="Notification - {{username}}">
 	<ion-content class="has-header" overflow-scroll="true" padding="true">
         <ion-list style="" ng-repeat="action in info">
         <ion-item style="">{{ action.name }} - {{ action.url }} </ion-item>
     	</ion-list>
 		<ion-list style="" ng-repeat="noti in notifications">
         <ion-item style="" ui-sref="goTo.post({ postID: noti.postID, username: username, postTitle: noti.postTitle, postContent: noti.postContent, userName: noti.userName, rating: post.rating, status: noti.status, attachment: noti.attachment})">{{ noti.notiContent }}</ion-item>
         <ion-item style="" class="item-divider">{{ timeAgo[$index] }} ago</ion-item>
     	</ion-list>
   </ion-content>
</ion-view>