<ion-view style="" title="Profile">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <h3 style="">Name</h3>
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-icon  icon-right ion-compose">10</button>
            <button style="" class="button button-stable button-icon  icon-right ion-android-checkmark-circle">100</button>
            <button style="" class="button button-stable button-icon  icon-right ion-trophy">3</button>
        </div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Post</h2>
                <p>Post Summary</p>
            </ion-item>
            <ion-item style="" class="item-divider">4 days ago</ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Post 2</h2>
                <p>Post Summary</p>
            </ion-item>
            <ion-item style="" class="item-divider">1 weeks ago</ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Post 3</h2>
                <p>Post summary</p>
            </ion-item>
            <ion-item style="" class="item-divider">1 month ago</ion-item>
        </ion-list>
    </ion-content>
</ion-view>