<ion-view style="" title="Profile - {{ username }}">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="line-height: 10px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <img style="height: 200px" ng-src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJSAAAAJDEzYjRkZjY3LWFhNGYtNDhjOS1iOTcwLWIzMGYzZDVmZGIwMQ.jpg" />
        </div>
        <h3 style="padding-left: 35%">{{ name }}</h3>
        <h4 style="padding-left: 2%">Basic Info</h4>
        <label style="" class="item item-input item-select">
            <div class="input-label">Martial Status</div>
                <select ng-model="martialStatus" ng-options="m.info for m in martial" ng-change="optionMartialChanged()"></select>
        </label>
        <label style="" class="item item-input item-select">
            <div class="input-label">Kids</div>
                <select ng-model="kid" ng-options="k.info for k in kids" ng-change="optionKidsChanged()"></select>
        </label>
        <label style="" class="item item-input item-select">
            <div class="input-label">Social Preference</div>
                <select ng-model="socialPref" ng-options="s.info for s in social" ng-change="optionSocialChanged()"></select>
        </label>

        <h4 style="padding-left: 2%; padding-top: 10px">Points and Rewards</h4>
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-icon  icon-right ion-compose">{{ numberOfPost }}</button>
            <button style="" class="button button-stable button-icon  icon-right ion-android-checkmark-circle">{{ points }}</button>
            <button style="" class="button button-stable button-icon  icon-right ion-trophy">{{ rewards }}</button>
        </div>

        <h4 style="padding-left: 2%">Posts</h4>
        <ion-list style="" ng-repeat="post in posts">
            <ion-item style="" class="item-thumbnail-left" ui-sref="goTo.post({ postID: post.postID, username: username, postTitle: post.postTitle, postContent: post.postContent, rating: post.rating, userName: post.userName, status: post.status, attachment: post.attachment})">
                <img ng-src="{{ post.attachment }}" />
                <h2>{{ post.postTitle }}</h2>
                <p>{{ summary[$index] }}</p>
                <p><b>{{ post.status }}</b></p>
            </ion-item>
            <ion-item style="" class="item-divider">{{ timeAgo[$index] }} ago</ion-item>
        </ion-list>
    </ion-content>
</ion-view>