<ion-view style="" title="Signup">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="Username" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="Password" type="password">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Location</span>
                    <input placeholder="City, State" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Tel</span>
                    <input placeholder="###-###-####" type="tel">
                </label>
            </ion-list>
        </form>
        <div style="" class="button-bar">
            <a style="" class="button button-calm button-block " ui-sref="tabsController.dashboardUser">Sign Up</a>
        </div>
    </ion-content>
</ion-view>