<ion-view style="" title="Tabs Controller">
    <ion-tabs style="" class="tabs-balanced tabs-icon-top">
        <ion-tab style="" title="Dashboard" icon="ion-clipboard" href="#/pageTab/pageUser">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Upload" icon="ion-ios-camera" href="#/pageTab/pageUpload">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Profile" icon="ion-person" href="#/pageTab/pageProfile">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Notification" icon="ion-lightbulb" href="#/pageTab/pageNoti">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>