<ion-view style="" title="Upload">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" name="Title" class="item item-input">
                <span class="input-label">Title</span>
                <input placeholder="Title" type="text">
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Select</span>
                <select>
                    <option>Alert</option>
                    <option>Question</option>
                    <option>Other</option>
                </select>
            </label>
        </form>
        <div style="">
            <p>
                <b>B</b>
                <i>I</i>
                <u>U</u>Attachment
            </p>
        </div>
        <form style="" class="list">
            <label style="" name="Body" class="item item-input">
                <span class="input-label">Report</span><textarea placeholder="Body"> </textarea>
            </label>
        </form>
        <a style="" class="button button-positive button-block " ui-sref="tabsController.dashboardUser">Submit</a>
    </ion-content>
</ion-view>