<ion-view style="" title="Upload">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" name="Title" class="item item-input">
                <span class="input-label">Title</span>
                <input placeholder="Title" type="text" />
            </label>
            <label style="" class="item item-input item-select">
                <div class="input-label">Category</div>
                    <select ng-model="optionType" ng-options="op.option for op in ops" ng-change="optionChanged()"></select>
            </label>
            <label style="" class="item item-input item-select">
                <div class="input-label">Detail</div>
                    <select ng-model="detail" ng-options="d.info for d in details"></select>
            </label>
        </form>
        <form style="" class="list">
            <h5 style="padding-left: 2%">Body</h5>
            <label style="" name="Body" class="item item-input">
                <textarea style="height: 200px" placeholder="Body" ng-model="postContent"></textarea>
            </label>
        </form>

        <button style="padding-left: 80%; margin-top: -20px; margin-bottom: 15px" class="button button-clear button-dark icon-left ion-paperclip" ng-click="getPhoto()">Photo</button>

        <a style="" class="button button-positive button-block " ng-click="submit()" ui-sref="tabsController.dashboardUser">Submit</a>
    </ion-content>
</ion-view>